header {
  position: relative;
  max-height: 765px;

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  .nav-active {
    height: auto;
  }

  .header-title-mobile {
    font-size: 2rem;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: #fff;
  }

  .header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 11;
    margin-top: 6rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 3rem;

    .menu-title {
      color: #fff;
      font-size: 3.1rem;
      margin-bottom: 3.5rem;
    }

    .menu-logo {
      width: 23.7rem;
      margin-bottom: 3.5rem;

      img {
        width: 100%;
      }
    }

    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .nav-brand {
        width: 90px;
        display: none;

        img {
          width: 100%;
        }
      }

      .nav-toggler {
        font-size: 2.5rem;
        color: #fff;
        display: none;
        padding: 0 2rem;
      }

      .nav-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Montserrat", sans-serif;
        z-index: 9999;

        .nav-item {
          .nav-link {
            font-size: 1.4rem;
            color: #fff;
            text-transform: uppercase;
            background: transparent;
            font-weight: 500;
            transition: all ease 0.4s;
            padding: 0 3.4rem;
            display: inline-block;
            white-space: nowrap;

            &:hover {
              color: #00a859;
            }
          }
        }
      }
    }
  }

  .header-slider {
    position: relative;
    height: 765px;

    .slick-list {
      height: 100%;

      .slick-track {
        height: 100%;

        .slide-item {
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .slick-dots {
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;

      & li {
        list-style: none;
        padding: 0 5px;

        & button {
          font-size: 0;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          outline: none;
          background: #fff;
          border: none;
        }
      }

      & .slick-active button {
        background: #555;
        width: 10px;
        height: 10px;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .header-menu {
      .menu-title {
        font-size: 2.5rem;
      }

      .menu-logo {
        width: 20rem;
      }

      .nav-menu {
        .nav-link {
          padding: 0 2.5rem !important;
        }
      }
    }
  }

  @media screen and (max-width: 1060px) {
    .header-menu {
      .menu-title {
        font-size: 2.5rem;
      }

      .menu-logo {
        width: 17rem;
      }

      .nav-menu {
        .nav-item {
          .nav-link {
            font-size: 1.3rem;
            padding: 0 2rem !important;
          }
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .header-menu {
      .menu-title {
        font-size: 2rem;
      }

      .menu-logo {
        width: 14rem;
      }

      .nav-menu {
        .nav-item {
          .nav-link {
            font-size: 1.2rem;
            padding: 0 1.5rem !important;
          }
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    header {
      position: relative;
    }

    .header-title-mobile {
      display: block;
      z-index: 8;
    }

    .scroll-menu.header-menu,
    .scroll-menu .nav-menu {
      background: #7ebf79;
    }

    .header-menu {
      margin: 0;
      padding: 0;
      padding-top: 1rem;
      position: fixed;
      top: 0;

      .menu-title {
        font-size: 2rem;
        display: none;
      }

      .menu-logo {
        width: 14rem;
        display: none;
      }

      nav {
        justify-content: space-between;
        width: 100%;

        .nav-brand {
          display: block;
          margin: 0 2rem;
        }

        .nav-active {
          max-height: 500px !important;
          transition: all 0.4s ease;
        }

        .nav-menu {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          flex-direction: column;
          max-height: 0;
          overflow: hidden;
          transition: all 0.4s ease;

          .nav-item {
            width: 100%;

            .nav-link {
              font-size: 1.4rem;
              padding: 1.7rem 0 !important;
              color: #fff;
            }
          }
        }

        .nav-toggler {
          display: block;

          i.open {
            display: block;
          }

          i.close {
            display: none;
          }
        }


      }

      .toggler-icon {

        i.open {
          display: none !important;
        }

        i.close {
          display: block !important;

        }
      }
    }
  }
}