header
    .header-menu
        h1.menu-title CÔNG TY CỔ PHẦN ĐẦU TƯ BẤT ĐỘNG SẢN CỔNG VÀNG GOLGAREAL
        .menu-logo
            img(src="../../assets/images/homepage/logo.png", alt="")
        nav
            .nav-brand
                img(src="../../assets/images/homepage/logo.png", alt="")
            ul.nav-menu
                li.nav-item
                    a.nav-link(href="#") Trang chủ
                li.nav-item
                    a.nav-link(href="#") Giới thiệu
                li.nav-item
                    a.nav-link(href="#") Cổ đông
                li.nav-item
                    a.nav-link(href="#") Lĩnh vực đầu tư
                li.nav-item
                    a.nav-link(href="#") Dự án
                li.nav-item
                    a.nav-link(href="#") Thư viện
                li.nav-item
                    a.nav-link(href="#") Tuyển dụng
                li.nav-item
                    a.nav-link(href="#") Liên hệ
            .nav-toggler
                i.fas.fa-bars.open
                i.fas.fa-times.close
    //- h1.header-title-mobile CÔNG TY CỔ PHẦN <br> ĐẦU TƯ BẤT ĐỘNG SẢN <br> CỔNG VÀNG GOLGAREAL
    .header-slider
        .slide-item
            img(src="../../assets/images/homepage/showcase-1.jpg", alt="")
        .slide-item
            img(src="../../assets/images/homepage/showcase-2.jpg", alt="")
        .slide-item
            img(src="../../assets/images/homepage/showcase-3.jpg", alt="")
        .slide-item
            img(src="../../assets/images/homepage/showcase-4.jpg", alt="")