<!DOCTYPE html>
html(lang="en")
        head
                meta(charset="UTF-8")
                meta(name="viewport", content="width=device-width, initial-scale=1.0")
                meta(http-equiv="X-UA-Compatible", content="ie=edge")
                title Document
                link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")
                link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
                link(rel="stylesheet", href="../../../dist/css/styles.css")
                

        body
                include ../partials/header.pug
                block main-content
                include ../partials/footer.pug
                
                script(src="https://code.jquery.com/jquery-1.12.4.js")
                script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
                script(src="../../js/main.js")
                script(src="../../js/header-block.js")
                script(src="../../js/tintuc-block.js")
                script(src="../../js/duan-block.js")
                script(src="../../js/linhvucdautu-block.js")
               


                




        
        
